---
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
        args: [--target-version=py35]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: [
          # default black line length is 88
          --max-line-length=88,
          # Conflicts with black: E203 whitespace before ':'
          --extend-ignore=E203,
        ]
