<% if (isInherited) { %>
    <hr /><h2>Inherited comments</h2><br /><br />
  <% } %>

<% _.each(anns, function(ann) { %>
<div class="ann_comment_wrapper" data-added-by="<% print(_.escape(ann.addedBy.join(','))) %>">

    <div class="avatar">
        <img src="<%= webindex %>avatar/<%- ann.owner.id %>/"
        alt="<%- ann.owner.firstName %> <%- ann.owner.lastName %>"
        title="<%- ann.owner.firstName %> <%- ann.owner.lastName %>" />
    </div>

    <div class="ann_comment_text tooltip">
        <div class="ann_comment_header">
            <strong>
                <%- ann.owner.firstName %> <%- ann.owner.lastName %>
            </strong>
            <% if (isInherited) { %>
                on
                <%- ann.link.parent.class.substring(0, ann.link.parent.class.length - 1) %> <%- ann.link.parent.name.slice(0, 30) %>
            <% } else { %>
                at
                <% print(OME.formatDate(ann.link.date)) %>
            <% } %>
        </div>

        <% if (ann.permissions.canDelete && !isInherited) { %>
            <img class='removeComment' id="<%- ann.id %>-comment"
                src="<%= static %>image/icon_basic_delete.png"
                url='<%= webindex %>action/remove/comment/<%- ann.id %>/'
                title="Delete comment"/>
        <% } %>

        <div class='commentText'><%- ann.textValue %></div>
    </div>

    <span class="tooltip_html" style='display:none'>
        <b>ID:</b> <%- ann.id %><br />
        <% if (ann.ns) { %><b>Namespace:</b> <%- ann.ns %><br /><% } %>
        <% if (ann.description) { %><b>Description:</b> <%- ann.description %><br /><% } %>
        <% if (isInherited) { %>
            <b>Inherited by:</b><br />
            <% _.each(ann.childNames, function(cname) { %>
                &nbsp <%- cname %><br />
            <% }) %>
        <% } %>
    </span>

</div>
<% }) %>
